<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
    <div class="mdl-layout__header-row site-logo-row">
        <span class="mdl-layout__title">
            <div class="site-logo"></div>
            <span class="site-description">Vns Portal Noticias</span>
        </span>
    </div>
    <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="/noticias">Noticias</a>
            <a class="mdl-navigation__link" href="/contato">Contato</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/noticias">Noticias</a>
        <a class="mdl-navigation__link" href="/contato">Contato</a>
    </nav>
</div>
<main class="mdl-layout__content">
    <div class="site-content">
        <div class="container">
