
	<% include ../partials/header %>

	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-8">
	    			<p>This is Node JS</p>
		    	</div>

	    		<div class="col-md-4">
	    			<div class="noticia_wrapper">
		    			<p>Amazing Node JS</p>
		    		</div>
		    	</div>
	    	</div>

	    	<div class="row ver_mais">
	    		<button type="button" class="btn btn-default"><a href="noticias">Ver todas mais Sobre Node</a></button>
	    	</div>
	    </div>

		<% include ../partials/footer %>
